Backend/obj/
Backend/bin/
Backend/Migrations/
Backend/.vs
Backend/*.db
.vs/
Backend.tests/PseudoClient/PseudoClient/obj/
Backend.tests/PseudoClient/PseudoClient/bin/
frontend/node_modules/
frontend/dist/
